﻿@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/LayoutSignedOut.cshtml";
}

<div class="page-header">
    <h1>An error occurred</h1>
</div>

<div>
    <p>Unfortunately, an unexpected error occurred whilst dealing with your request.</p>

    <p>Please contact us if the error persists. Click <a href="@Url.Content("~/SignedOut/Index")">here</a> to go to the login page.</p>
</div>
