﻿@{
    ViewBag.Title = "Forbidden";
    Layout = "~/Views/Shared/LayoutSignedOut.cshtml";
}

<div class="page-header">
    <h1>Forbidden</h1>
</div>

<div>
    <p>You tried to access a page that you're not allowed to!</p>

    <p>Click <a href="~/SignedOut/Index">here</a> to go to the login page.</p>
</div>

