﻿@{
    Layout = "~/Views/Shared/LayoutSignedOut.cshtml";
}

<div class="page-header">
    <h1 style="float: left">Change Password</h1>
    <div class="clearfix"></div>
</div>

<div class="row" style="margin-top: 10px">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-body">

                <div data-bind="visible: state() == 1 || state() == 4">

                    <table class="formTable" style="width:100%" >
                        <colgroup>
                            <col style="width:40%" />
                            <col style="width:60%" />
                        </colgroup>
                        <tr>
                            <th>Email</th>
                            <td><input type="text" class="form-control" readonly="readonly" data-bind="value: email"/></td>
                        </tr>
                        <tr>
                            <th>New Password</th>
                            <td><input type="password" class="form-control" data-bind="textInput: password" /></td>
                        </tr>
                        <tr>
                            <th>Repeat Password</th>
                            <td><input type="password" class="form-control" data-bind="textInput: passwordRepeat" /></td>
                        </tr>
                        <tr>
                            <th></th>
                            <td><button class="btn btn-success" data-bind="click: submit">Submit » </button></td>
                        </tr>
                    </table>

                    <p data-bind="visible: isValidationMessage" class="alert alert-warning" style="margin-top: 20px">
                        &nbsp;<span class="glyphicon glyphicon-ban-circle"></span>&nbsp;
                        &nbsp;<span data-bind="text: validationMessage"></span>
                    </p>
                </div>

                <p data-bind="visible: isMessage() && state() == 3" class="alert alert-success">
                    &nbsp;<span class="glyphicon glyphicon-check"></span>&nbsp;
                    &nbsp;<span data-bind="text: message"></span>
                </p>

                <p data-bind="visible: isMessage() && state() != 3" class="alert alert-warning">
                    &nbsp;<span data-bind="text: message"></span>
                </p>
                <div>
                    <br />
                    <a href="@Url.Content("~/")">Return to login page</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/signedOutResetPasswordScripts")
}
