﻿@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="page-header">
    <h1>My Details</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default" style="padding:10px">

            <table class="formTable" style="width: 100%">
                <colgroup>
                    <col style="width:40%" />
                    <col style="width:60%" />
                </colgroup>
                <tbody>
                    <tr>
                        <th>Forename</th>
                        <td data-bind="text: user.forename"></td>
                    </tr>
                    <tr>
                        <th>Surname</th>
                        <td data-bind="text: user.surname"></td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td data-bind="text: user.email"></td>
                    </tr>
                    <tr>
                        <th>User Type</th>
                        <td data-bind="lookupText: user.role, lookups:roles"></td>
                    </tr>
                    <tr>
                        <th></th>
                        <td style="float: right">

                        </td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-primary" data-bind="click: editPassword"><i class="fa fa-pencil-square-o"></i>Change Password</button>
        </div>
    </div>
</div>

<!-- change password dialogue -->
<div class="modal fade" id="editPasswordModal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="editPasswordModalLabel" aria-hidden="true" style="overflow-y: auto;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="editPasswordModalLabel">Change Password</h4>
            </div>
            <div class="modal-body">
                <div>
                    <p><label>Current Password</label><input type="password" class="form-control" data-bind="value: password" /></p>
                    <p><label>New Password</label><input type="password" class="form-control" data-bind="textInput: newPassword, validationMessage: newPassword" /></p>
                    <p><label>Repeat New Password</label><input type="password" class="form-control" data-bind="textInput: repeatPassword, validationMessage: repeatPassword" /></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-bind="click: cancelEditPassword"><i class="fa fa-ban"></i>&nbsp;Cancel</button>
                <button type="button" class="btn btn-primary" data-bind="click: savePassword"><i class="fa fa-floppy-o"></i>&nbsp;Save</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
@Scripts.Render("~/bundles/homeMyDetailsScripts")
}
